<%- include('./partials/head') %> 
<%- include('./partials/header') %>
<section class="seccion-perfil-usuario">
  <div class="perfil-usuario-header">
    <div class="perfil-usuario-portada">
      <div class="perfil-usuario-avatar">
        <img src="/img/pic-1.png" alt="img-avatar" />
      </div>
      <button type="button" class="boton-portada"></button>
    </div>
  </div>
  <div class="perfil-usuario-body">
    <div class="perfil-usuario-bio">
      <h3 class="titulo"><%= usuario.frist_name %> <%= usuario.last_name %></h3>
      <p class="texto">
        Quando você quer alguma coisa, todo o universo conspira para que você
        realize o seu desejo.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="contatoperfil">
      <div class="meucontato"></div>


      <section id="dados">

        <h1 class="tituloh4">Eu sou <%= usuario.frist_name %></h1>

        <form action="editar" method="post">

          <div>

          <%= usuario.frist_name %>
          <input
            type="text"
            class="campo"
            placeholder="Nome"
            name="frist_name"
          />

        </div>

        <div>
          <input
            value="<%= usuario.last_name %>"
            type="text"
            class="campo"
            placeholder="Sobrenome"
            name="last_name"
          />

        </div>

        <div>
          <input
            value="<%= usuario.birth %>"
            type="text"
            class="campo"
            placeholder="Aniversário"
            name="birth"
          />

        </div>

        <div>
          <input
            value="<%= usuario.email %>"
            type="text"
            class="campo"
            placeholder="Email"
            name="email"
          />

        </div>

        <div>
          <input
           
            type="text"
            class="campo"
            placeholder="Senha"
            name="password"
          />
        </div>

        <div>

          <button class="btn" type="submit">Enviar</button>

        </div>
        </form>

      </section>

    </div>
  </div>
</section>
<%- include('./partials/footer') %>
