<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main class="bg-light">

  <section>
    <h1 class="primary"><%= titulo %></h1>
    <p class="primary-dark flex-item-full-row"><%= subtitulo %></p>
  </section>

  <section id="senhaPerdida" class="bg-primary-dark">
    <h2>Esqueci a Senha</h2>
    <article>
      <form action="" id="senhaPerdidaForm" method="POST">
        <fieldset>
          <legend>Dados de Acesso</legend>
          <div class="input-group">
            <input type="email" id="email" name="email" placeholder="fulanito@gmail.com" required>
            <label for="email">email</label>
          </div>
        </fieldset>
        <div class="btn-group btn-group--full">
          <button class="btn btn--primary-dark" type="submit">Recuperar a Senha</button>
        </div>
      </form>
      <p class="primary-light">Ainda <a href="/acesso/cadastro" class="light">não tenho cadastro!</a></p>
    </article>
  </section>

</main>
<%- include('./partials/footer') %>