<%- include('./partials/head') %>
<%- include('./partials/header') %>
<main class="bg-light">
  <section class="banner-img-sm bg-tertiary-dark" style="--card-img: url('<%= bannerTopo %>')">
    <h1 class="light"><%= titulo %></h1>
    <p class="primary flex-item-full-row"><%= subtitulo %></p>
  </section>
  <section id="produtos" class="bg-tertiary-light">
    <h2 class="tertiary flex-item-full-row"><%= subtitulo %></h2>
    <p class="tertiary-dark text-center text-bolder flex-item-full-row"><%= produtos.length %> produtos incríveis para você!</p>
    <%- include('./partials/productCard') %>
  </section>
</main>
<%- include('./partials/footer') %>